* {
    margin: 0;
    padding: 0;
}

main {

    display: flex;
    border: solid 1px black;
    width: 20vw;
    flex-direction: column;
    font-size: 1.2em;
}

.nutrition-facts, .protein {
    border-bottom: solid 10px black;
}

.calories, .total-fat {
    border-top: solid 3px black;
}

.calories-fat {

    border-bottom: solid 6px black;
}

.calories, .total-fat, .saturated-fat, .trans-fat, .cholesterol, .sodium, .carbohydrate, .dietary.fiber, .sugars, .vitamin-a, .vitamin-c, .calcium, .iron {
    border-bottom: solid 2px black;
}


.column {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}

.amount {
    align-items: flex-end;
}

.one {
    width: 60%;
    flex-grow: 15;
    
}

.two {
    width: 20%;
    flex-grow: 1;
    text-align: end;
    justify-content: flex-end;
    
}

.three {
    width: 20%;
    flex-grow: 1;
    text-align: end;
    justify-content: flex-end;
    
}

